.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url(https://images.unsplash.com/photo-1566228015668-4c45dbc4e2f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGxvZ2lufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.registerForm > label {
    margin: 10px 0px;
}

.registerInput{
    padding: 10px;
    border: none;
    background-color: white;
}

.registerButton{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: darkorange;
    color: white;
    padding: 10px;
}

.RLoginButton{
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: teal;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}